/* 除了手機以外的CSS */


/* 平板 */

@media screen and (min-width:1024px) {
    /* nav */
    .menu_btn {
        z-index: 100;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        /* border: 2px solid red; */
        background-image: url(../img/DSC_34282.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* background-color: rgba(0, 0, 0, .1); */
        background-blend-mode: multiply;
        overflow: auto;
    }
    .nav-ul {
        width: auto;
        height: 40%;
        border: 3px double rgba(245, 245, 245, 0.425);
        display: flex;
        justify-content: center;
    }
    .main-li {
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .container {
        background-image: url(../img/DSC_34282.jpg);
    }
    .container img {
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 2px solid green; */
    }
    .ul-item {
        display: flex;
        flex-direction: column;
    }
    /* foreword */
    .forwordWrap .item {
        flex-direction: row;
    }
    .forwordWrap .item img {
        width: 45%;
    }
    .forwordWrap .txt {
        width: 55%;
        position: relative;
    }
    .forwordWrap .txt::before {
        content: '2017 - 07 - 01 ~ 13';
        position: absolute;
        top: 0;
        right: 0;
        font-family: 'Noto Serif TC', serif;
        color: rgba(240, 238, 218, 0.5);
        font-size: 0.5vh;
    }
    .forwordWrap .txt h1 {
        writing-mode: vertical-lr;
        font-size: 5vh;
        float: unset;
    }
    .forwordWrap .txt p {
        width: 85%;
    }
    /* highlandBarleyWine */
    .wineWrapPhoto .item {
        width: 100%;
    }
    .wineWrapPhoto .item .txt {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .wineWrapPhoto .item .txt h1 {
        writing-mode: vertical-lr;
        font-size: 8vh;
        text-align: center;
        position: unset;
    }
    .wineWrapPhoto .item .txt h3 {
        width: 15%;
        text-align: right;
        text-shadow: 2px 2px 7px black;
    }
    .wineWrapPhoto .item .txt .description {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .triangle {
        display: none;
    }
    .carousel {
        margin-top: 30px;
        width: 50%;
        height: 100%;
        display: flex;
        margin: auto;
        /* margin-top: 0; */
    }
    .video {
        width: 60%;
        margin-top: 30px;
        align-items: left;
    }
    .video .txt {
        width: 100%;
    }
    .video p {
        width: 30%;
        font-size: 3vh;
        line-height: 5vh;
        padding: 0 20px;
    }
}


/* 電腦 */

@media screen and (min-width:1440px) {
    /* foreword */
    .forwordWrap .item img {
        width: 40%;
    }
    .forwordWrap .txt {
        margin: 0 50px;
    }
    .forwordWrap .txt::before {
        font-size: 2vh;
    }
    .forwordWrap .txt p {
        font-size: 2.5vh;
    }
    /* highlandBarleyWine */
    body {}
    .carousel {
        width: 50%;
    }
}